/snel-transport/snel-transport-ejb/target/
/snel-transport/snel-transport-web/target/
/snel-transport/snel-transport-ear/target/

# NetBeans specific #
nb-configuration.xml
.netbeans_automatic_build

# Maven
target/

